/* =========================================================================================== */
/* @name               1der4                                                                   */
/* @discord            https://discord.gg/eCCkKnEsDK                                           */
/* @author             1der4#1716                                                              */
/* @version            1.9.1                                                                   */
/* @note               join discord to report bugs, give suggestions and get css update        */
/* =========================================================================================== */

/*
1.	Bundle UI
2.	Main UI
3.	Profile UI
4.	Market UI
5.	Challenge UI
6.	Spin UI
7.	Esport UI
8.	Map UI
9.	Mod UI
10.	Setting UI
11.	Host Game UI
12.	Server Browse UI
13.	Customize UI
14.	Ingame UI kill card + endcard + connection error + tdm score
15.	Spec UI
16.	Rank UI
17.	Lost connection UI
*/

/*Menu UI*/

*{
    text-shadow:
        1px 1px black,
        -1px -1px black,
        -1px 0px black,
        0px -1px black,
        1px 0px black,
        0px 1px black;
}

/*Disable something useless*/

#aHolder,
.endAHolder,
#merchImg,
#onetrust-consent-sdk,
#braveWarning,
#newsHolder,
#streamContainer,
#newUserGuide,
#krDiscountAd,
#updateAd, 
#editorBtnM,
.verticalSeparator,
.terms.standout,
.verticalSeparatorInline,
.terms,
#termsInfo,
.menuWindowSideL,
.windowHeader,
.menuSocialB,
#menuBtnProfile,
#menuBtnShop,
#menuBtnChall,
#menuBtnSocial, 
#menuBtnMaps,
#menuBtnMods,
#menuBtnSettings,
#menuBtnEsports,
#mainLogo,
#freeKRAd,
#rankedBlog,
#doubleXPAd,
#seasonLabel,
#menuClassNameTag,
#doubleClassXPAd,
#mainLogoFace,
#bpAdIcon
{
    display : none !important;
}

.headerBarRight,
.headerBarLeft,
#mLevelCont,
#chatInputHolder,
#chatList,
#customizeButton,
#policeButton,
#menuBtnHost,
#menuBtnBrowser,
#menuBtnRanked,
#inviteButton,
#menuBtnJoin,
#menuItemContainer,
#menuLvlHold,
#battlepassAd,
#voiceDisplay,
#adventCal.youNewDiv,
#eventAd,
#eventAdImg
{
    background-color: transparent;
}

#classPreviewCanvas
{
    opacity: 0;
}

.button { 
    border: hidden !important;
}

/*Free Prize & Bundle*/

.genericPromptBackground,
.genericPromptSubTitle,
.bundlCreatorText
{
    display:none;
}

#bundlePop {
    background-color: transparent;
}

/*Host Game*/

.hostHeader,
.hostToggle,
#stickyHostH
{
    background-color:transparent;
}

.serverHostOp,
#hostCMapPickr
{
    background:transparent !important;
}

.mapListCat {
    background-image: none;
}

.serverHostOpH
{
    display:none;
}

/*Customize*/

.selectorItem,
#menuWindow.dark,
.loadoutBtn,
.classCard,
.noBtnCard.blackShad,
.winClose,
.custBack,
#itemSearchH,
#itemSearch,
#streakSel0_4,
#streakSel1_1,
#streakSel1_6,
#streakSel2_0,
#streakSel2_5,
.streakActionOvrl,
.streakCard.blackShad,
.winSelH,
.skinCard.blackShad,
#selectorContainer,
.skinCard
{
    background-color: transparent;
}

/*shop*/

#shopPremBen
{
    display:none;
}

.bigMenTabs {
    background-color: transparent;
}

/*spin*/

#spinButton,
#spinInfo,
#spinKR {
    background-color: transparent;
}

.colCub {
    display: none;
}

/*Profile*/

.xpBar,
.pSt,
.button.buttonO.lgn
{
    background-color: transparent;
}

/*Chatbox*/

#chatList::-webkit-scrollbar {
    display:none;
}

#chatInput
{
    background-color: transparent;
}

#chatInputHolder::before
{
    content: "";
    position: absolute;
    color: #fff;
    bottom: 17px;
    left: 70px;
}

/*Challenge*/

.challHeadrI,
.challRotImg,
.challMapCvr,
.chalImgC
{
    display: none;
}

.challMapCrd {
    background-image: none !important;
}

.chalCard,
.chalRews,
.challCrdMsg
{
    background-color: transparent !important;
}

/*Lost Connection*/

.instructionsHeader,
.instructionsTabs
{
    background-color: transparent
}

.instructionsTabs *
{
    background:transparent;
}

/*Endcard*/

.endCard,
.tabHeader,
#endTable,
#teamTotal0,
#teamTotal1,
#returnHolder,
.endSection
{
    background-color: transparent;
}

.gfSection,
.endTitle,
[src="./img/vic.png"],
[src="./img/def.png"],
[src="./img/dra.png"]
{
    display:none !important;
}

.endCard *
{
    background: transparent !important;
}

#endlb_rank,
#endlb_score,
#endlb_kills,
#endlb_deaths,
#endlb_objective,
#endlb_dmg,
#endlb_reward,
#endlb_deposits
{
    font-size: 0px;
}

#endlb_rank::after
{
    content: "";
}

#endlb_score::after
{
    content: "S";
    font-size: 21px;
}

#endlb_kills::after
{
    content: "K";
    font-size: 21px;
}

#endlb_deaths::after
{
    content: "D";
    font-size: 21px;
}

#endlb_objective::after
{
    content: "obj";
    font-size: 21px;
}

#endlb_dmg::after
{
    content: "dmg";
    font-size: 21px;
}

#endlb_reward::after
{
    content: "kr";
    font-size: 21px;
}

#endlb_deposits::after
{
    content: "dep";
    font-size: 21px;
}

/*killcard*/

#killCardHolder,
#killCardMsg,
#killCard
{
    background-color: transparent;
}

/*setting*/

.setSugBox2,
.setBodH,
.setHed,
.settingsHeader,
.settingTab,
.settingsBtn,
.advancedSlider::after,
.advancedSlider::before,
.advancedSlider,
#settSearch,
span.slider::before,
span.slider::after
{
    background-color: transparent;
}

.settingTab *
{
    background: transparent !important;
}

.setSugBox2
{
    display: none;
}

/*Health*/

#hudClassIcon,
#healthBar,
.hpBSeg,
.healthBarSeg,
#challIcon,
#maxHP
{
    display: none;
}

/*Ammo*/

#ammoIcon,
#ammoMax,
#reloadMsg
{
    display: none !important;
}

/*Time FPS Ping*/

#pingIcon,
#timerIcon,
#curGameInfo
{
    display: none;
}

.leftUIB,
#timerDisplay,
#matchVoteHolder
{
    background-color: transparent;
}

#fpsDisplay,
#pingText
{
    color:white !important;
}

#ingameFPS
{
    visibility:visible;
    color:white !important;
}

#pingText:after
{
    content:' ms';
}

/*KD&Streak*/

#streakCount,
.countIcon,
#killsIcon,
#deathsIcon,
#streakIcon,
#kdIcon
{
    background-color: transparent;
}

/*Kill Feed*/

.kfItem
{
	background-color: transparent;
}

/*networklag*/
#networkLag {
    background-color: transparent;
}

#networkLag>div {
    color:transparent;
}

#networkLagHed {
    color: white!important
}
    
/*Lost Connection*/

.instructionsHeader,
#instructionsUpdate
{
    background-color: transparent;
}

/*Rank*/

#compClassPHolder,
#compBtnLst,
#compT1Scr,
#compT2Scr
{
    background-color:transparent;
}

#cmpDatBox,
#cmpLeavInfo,
#compTimBox
{
    display:none;
}

.compClassPItm
{
    background-color:transparent;
    border-color:transparent;
}

.compTScrB,
.compSwpTmB,
.compMenBtnS
{
    background:none !important;
}

/*Tdm score*/

#teamScores {
    background-color: transparent;
}

/*Spectate*/

#specTimer,
#specStats,
#specContr,
#specNames
{
    background-color:transparent;
}

/*Leaderboard*/

#leaderDisplay
{
    background-color: transparent;
}

.leaderNameM,
.leaderNameM::before,
.leaderNameM span
{
    font-size: 0px;
}

.leaderNameM::after
{
    content: "1der4";
    font-size: 18px;
}
